@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(42, 157, 165);
    color: rgb(255, 187, 0);
    height: 100vh;
    box-sizing: border-box;
    display:flex;
    flex-direction: colun;
    justify-content: center;
}
strong{
    color:rgb(100, 0, 92);

}
.imagen1{
   
 width: 300px;
    height:300px;
}
.imgen{ 
    width:300px;
    height:300px;
}  
.contenedor{

    height: 100vh;
    box-sizing: border-box;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}


.freefire{
    
 color:#db5461;
}

.tilin{
    
    height: 100vh;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    justify-content: center;
} 
.presentacion_enlaces_link{
    width: 80px;
    border:2px solid black;
    text-align:center;
     padding:21.5px 0;
    border-radius:8px;
    font-family: "Rubik", sans-serif ;
    font-size: 1.5rem;
    font-weight:600;
    text-decoration:none;
    color:blue;
    display: flex;
    justify-content:center;
    gap: 10px;
}   





























